/* Importa o arquivo CSS que importa a fonte Ravie */
@import "fonts/ravie.css";

#recipiente{
	background: linear-gradient(#f1f6b2,#4599b2);
	margin: auto;
    width: 800px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    position: relative;
}

aside{
	position: absolute;
	width: 646px;
    right: 30px; 
    bottom: 66px;
}